@keyframes anim1 
{
    from{
        transform: scale(0.2);
    }
    to{
        transform: scale(1);
    }
}

@keyframes anim2 
{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes animApparitionBoucle{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.anim1 {
    //transform-origin: top center;
    animation: anim1 2s forwards;
}

.anim2 {
    color: blue;
    &>.menu-nav-container {
        &>.main-menu{
            // Loop de 1 a 4.
            @for $i from 1 through 4 {
                &>.menu-item:nth-child(#{$i}) {
                    opacity: 0;
                    animation: animApparitionBoucle 2s forwards;
                    animation-delay: $i * (1s / 7);
                }
            }
        }
    }
}

.anim3 {
    //transform-origin: top center;
    animation: anim2 3s forwards;
}