.menuBurger{
display: flex;

    position: fixed;
    top: 53px;
    left: 23px;
    width: 40px;
    height: 33px;
    color: white;
    z-index: 100;
    cursor: pointer;

    transform-origin: 50% 50%;
    transform: rotateZ(0deg);
    transition: color 0.7s, transform 0.7s;
    &>img{
        display: flex;
        justify-content: center;
    }
    &:hover{
        color: rgb(128, 128, 128);
        transform: rotateZ(90deg);
    }
}