.menuBurger{
    @include menu-burger-fixed(15px, 13px);

    transform-origin: 50% 50%;
    transform: rotateZ(0deg);
    transition: color 0.7s, transform 0.7s;
    &>img{
        display: flex;
        justify-content: center;
    }
}

// Je n'ais pas vraiment trouvé d'endroit où utiliser l'héritage de façon efficace
.parent{
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.menuMobile{
    @extend .parent;

    background-color: $color_fond_menu_fermer;
    
    transition: background-color 0.7s, transform 0.7s;
    transform: translateX(-100vw);

    z-index: 99;

    & .menu-item-has-children{
        display: none;
    }
    & .main-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: 0px;
        & a{
            font-weight: 1000;
            color: white;
        }
    }
}

@media only screen and (max-width: 600px){
    .menuBurger{
        display: flex;
    }
    .menuMobile{
        display: flex;
    }
}