// Modification du style de la catégorie nouvelle (affecte également la catégorie évènement)

.entry-content-nouvelle{
    background-color: grey;
    color: white;
    box-shadow: 10px 10px 8px #888888;
}